.card-container {
    padding: 10px;
    border: solid 1px gray;
    background-color: white;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-message {
    font-size: 16px;
    font-family: system-ui;
}