.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(101, 141, 252);
    background-blend-mode: normal;
    transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
    margin-bottom: 30px;
    height: 60px;


    &:hover {
        cursor: pointer;
        background-color: darkblue;
        box-shadow: rgba(66, 9, 9, 0.5) 0px 0.5rem 2rem 0px;

        .brand {
            color: white;
        }
    }
}

.brand {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(9, 30, 66);
    transition: all ease 0.5s;
}